// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions, .results {
  border: 1px solid #ccc;
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 45%;
  float: left;
  margin-right: 4%;
}
